/*************************************
             BASE STYLES
*************************************/

* {
    font-family: 'Noto Sans', sans-serif;
}

.main-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "nav"
        "main";
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #7a4ce6;
    padding: 15px;
    grid-area: header;
}

h1 {
    margin-right: auto;
    color: white;
    font-size: 1.5rem;
}

.bell-icon {
    height: 40px;
    width: 30px;
    padding-right: 20px;
    border-right: 1px solid white;
}

.keanu {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 20px;
}

.profile-name {
    color: white;
    font-size: .9em;
}

nav {
    background-color: #896ccc;
    padding: 25px;
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav a img {
    height: 30px;
    width: 30px;
}

.dash-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    color: lightslategray;
}

h2 {
    padding-right: 30px;
    border-right: 1px solid black;
    grid-area: title;
}

.search-bar {
    margin-left: auto;
    grid-area: search;
}

.main-container {
    grid-area: main;
}

/*************************************
            CHART STYLES
*************************************/

.traffic-header {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
}

.traffic-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.traffic-header h3 {
    margin-right: auto;
    color: lightslategray;
}
.traffic-nav-link {
    margin-left: 10px;
    padding: 5px;
    color: lightslategray;
    font-weight: 600;
    cursor: pointer;
}

.active {
    background-color: #6ccc89;
    border-radius: 40px;
    color: white;
}

.chart-header {
    margin-right: auto;
    color: lightslategray;
    padding-left: 20px;
}

/*************************************
          SOCIAL STAT STYLES
*************************************/

.social-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.twitter-stats,
.facebook-stats,
.google-plus-stats {
    background-color: #FBFBFB;
    border: 1px solid #D8D8D8;
    margin: 1rem;
    min-width: 300px;
    height: 125px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-logo {
    float: left;
    display: flex;
    justify-content: space-around;
    background-color: #7377BF;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin: auto;
}

.twitter-stats svg,
.facebook-stats svg,
.google-plus-stats svg {
    width: 40px;
    margin: auto;
}

.social-text {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.social-name {
    margin-top: 1rem;
    margin-bottom: 0;
    color: #9774bf;
    font-weight: 600;
}

.social-number {
    font-size: 3rem;
    margin-top: 1px;
    margin-bottom: 1rem;
    color: slategray;
}

/*************************************
   NEW USERS/RECENT ACTIVITY STYLES
*************************************/

.new-users,
.recent-activity {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
}

.victoria,
.dale,
.dawn,
.dan {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #D8D8D8;
}

.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-name {
    margin: 0;
    color: lightslategray;
    font-weight: 600;
    font-size: .8rem;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.user-info a {
    font-size: .7rem;
}

.date {
    margin-left: auto;
    color: lightslategray;
}

.time {
    margin: 0;
}

.arrow {
    padding-left: 5px;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    color: #7377BF;
    font-size: 2.5rem;
}

/*************************************
          MESSAGE USER STYLES
*************************************/

.message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-user,
.message-text {
    margin: 0 20px 20px 20px;
    padding-left: 10px;
    border: 2px solid #D8D8D8;
    border-radius: 10px;
    outline: none;
}

.search-user {
    height: 40px;
}

.message-text {
    resize: none;
    height: 100px;
    padding-top: 10px;
}

.send-message-btn {
    margin: 0 20px 20px 20px;
    height: 50px;
    border: 2px solid;
    border-radius: 10px;
    background-color: #7377BF;
    color: white;
    font-weight: 600;
    outline: none;
    cursor: pointer;
}

.send-message-btn:active {
    background-color: #9773bf;
}

/*************************************
            SETTINGS STYLES
*************************************/

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    transition: all 0.3s;
    margin-right: 40%;
}

.switch::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius:50%;
    background-color: white;
    top: 1px;
    left: 1px;
    transition: all 0.3s;
}
  
.checkbox:checked + .switch::after {
    left : 20px;
}

.checkbox:checked + .switch {
    background-color: #7983ff;
}

.checkbox {
    display : none;
}

.setting-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.settings {
    padding-left: 20px;
    padding-right: 20px;
}

.email-notif-wrapper,
.set-public-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.setting {
    color: lightslategray;
    font-size: 1rem;
    font-weight: 600;
    margin-right: auto;
}

.timezones {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    outline: none;
    border: 2px solid #d8d8d8;
    border-radius: 10px;
}

.setting-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.save-setting {
    height: 50px;
    width: 45%;
    background-color: #7377BF;
    color: white;
    border: 2px solid;
    border-radius: 10px;
}

.cancel-setting {
    height: 50px;
    width: 45%;
    background-color: #7377BF;
    color: white;
    border: 2px solid;
    border-radius: 10px;
    margin-left: auto;
}