/*************************************
             BASE STYLES
*************************************/

* {
    font-family: 'Noto Sans', sans-serif;
}

body {
    display: grid;
    grid-template-columns: .2fr repeat(3, 1fr);
    grid-template-rows: .2fr .5fr repeat(3, 1fr);
    grid-template-areas: 
        "header header header header"
        "nav title search search"
        "nav main main main"
        "nav main main main";
        height: 100vh;
}

header {
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #7a4ce6;
    padding: 15px;
    grid-area: header;
}

h1 {
    margin-right: auto;
    color: white;
}

.bell-icon {
    height: 40px;
    width: 30px;
    padding-right: 20px;
    border-right: 1px solid white;
}

.keanu {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 20px;
}

.profile-name {
    color: white;

}

nav {
    background-color: #896ccc;
    padding: 25px;
    grid-area: nav;
}

.dash-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

h2 {
    padding-right: 30px;
    border-right: 1px solid black;
    grid-area: title;
}

.search-bar {
    margin-left: auto;
    grid-area: search;
}

.main-container {
    grid-area: main;
}