/*************************************
             BASE STYLES
*************************************/

* {
    font-family: 'Noto Sans', sans-serif;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 60px minmax(150px, auto);
    grid-template-areas: 
        "header"
        "nav"
        "main";
        height: 100vh;
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #7a4ce6;
    padding: 15px;
    grid-area: header;
}

h1 {
    margin-right: auto;
    color: white;
    font-size: 1.5rem;
}

.bell-icon {
    height: 40px;
    width: 30px;
    padding-right: 20px;
    border-right: 1px solid white;
}

.keanu {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 20px;
}

.profile-name {
    color: white;
    font-size: .9em;
}

nav {
    background-color: #896ccc;
    padding: 25px;
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.dash-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

h2 {
    padding-right: 30px;
    border-right: 1px solid black;
    grid-area: title;
}

.search-bar {
    margin-left: auto;
    grid-area: search;
}

.main-container {
    grid-area: main;
}

.traffic-header {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
}

.traffic-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.traffic-header h3 {
    margin-right: auto;
    color: lightslategray;
}
.traffic-nav-link {
    margin-left: 10px;
    padding: 5px;
    color: lightslategray;
    font-weight: 600;
    cursor: pointer;
}

.active {
    background-color: #6ccc89;
    border-radius: 40px;
    color: white;
}

.chart-header {
    margin-right: auto;
    color: lightslategray;
    padding-left: 20px;
}

